<h1> Order Summary</h1>
<strong>Login With Email:</strong></br>
<%= current_user.email %>
 <%= link_to "Change", new_user_session_path, :class => 'navbar-link'  %>
 <%#= render "shopping_cart", orders: @orders %>
  