<h1 class="text-center">Products For Sale</h1>
<div class = "column">
    <% @products.each do |product| %>
     <div class = "col-md-6">
      <div class="thumbnail">
        <h4><a href="/products/<%= product.id %>"><%= render "product_row", product: product, order_item: @order_item %></a></h4>
      </div>
      </div>
    <% end %>
    </div>
  
